<?xml version="1.0" encoding="utf-8"?>
<MenuDataItems xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MenuDataItem Icon="" MenuText="_Home" Description="System Overview" Roles="*" UserControlAssembly="openPG.UI.WPF.dll" UserControlPath="openPG.UI.UserControls.HomeUserControl"/>
  <MenuDataItem Icon="" MenuText="_Publication" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Authorize Subscribers" Description="Manage Authorized Subscribers" Roles="*" UserControlAssembly="openPG.UI.WPF.dll" UserControlPath="openPG.UI.UserControls.SubscriberUserControl"/>
      <MenuDataItem Icon="" MenuText="_Subscriber Measurement Access" Description="Manage Subscriber Measurement Access" Roles="*" UserControlAssembly="openPG.UI.WPF.dll" UserControlPath="openPG.UI.UserControls.SubscriberMeasurementUserControl"/>
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="Measurement _Groups" Description="Manage Subscriber Measurement Groups" Roles="*" UserControlAssembly="openPG.UI.WPF.dll" UserControlPath="openPG.UI.UserControls.MeasurementGroupUserControl"/>            
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Subscription" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Measurement Subscriptions" Description="Manage Local Measurement Subscriptions from External Gateways" Roles="*" UserControlAssembly="openPG.UI.WPF.dll" UserControlPath="openPG.UI.UserControls.SubscribeMeasurementUserControl"/>
      <MenuDataItem Icon="" MenuText="_Create Authorization Request" Description="Create Authorization Request for Access to External Gateway" Roles="*" UserControlAssembly="openPG.UI.WPF.dll" UserControlPath="openPG.UI.UserControls.SubscriberRequestUserControl"/>
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Inputs" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Browse Input Devices" Description="Browse Devices" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.DeviceListUserControl" />
      <MenuDataItem Icon="" MenuText="Device Setup _Wizard" Description="Input Device Configuration Wizard" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.InputWizardUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="Add _New Device" Description="Add New Device Configuration" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.DeviceUserControl" />
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Outputs" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="IEEE _C37.118 Stream Mirroring" Description="Manage IEEE C37.118 Output Stream Mirroring" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.OutputStreamUserControl" />
      <MenuDataItem Icon="" MenuText="_Historians" Description="Manage Historians" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.HistorianUserControl" />
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Monitoring" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Graph Measurements" Description="Graph Real-time Measurements" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.InputStatusMonitorUserControl"/>
      <MenuDataItem Icon="" MenuText="_Device Measurements" Description="Real-time Device Measurements" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.RealTimeMeasurementUserControl"/>
      <MenuDataItem Icon="" MenuText="_Stream Statistics" Description="Real-time Stream Statistics" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.RealTimeStatisticUserControl"/>
      <MenuDataItem Icon="" MenuText="Subscriber Status" Description="Subscriber Status" Roles="*" UserControlAssembly="openPG.UI.WPF.dll" UserControlPath="openPG.UI.UserControls.SubscriberStatusUserControl"/>
      <MenuDataItem Icon="" MenuText="_Alarm Status" Description="View Alarm Status" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.AlarmStatusUserControl"/>
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Remote System Console" Description="Remote System Console" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.MonitoringUserControl" />
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="_Adapters" Description="" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Input Adapters" Description="Manage Input Adapters" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.CustomInputAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="_Action Adapters" Description="Manage Action Adapters" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.CustomActionAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="_Output Adapters" Description="Manage Output Adapters" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.CustomOutputAdapterUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_View Iaon Tree" Description="View Iaon Tree" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.IaonTreeUserControl"/>
    </SubMenuItems>
  </MenuDataItem>
  <MenuDataItem Icon="" MenuText="Mana_ge" Description="Manage Gateway Properties" Roles="*" UserControlAssembly="" UserControlPath="">
    <SubMenuItems>
      <MenuDataItem Icon="" MenuText="_Nodes" Description="Manage Nodes" Roles="Administrator" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.NodeUserControl" />
      <MenuDataItem Icon="" MenuText="_Measurements" Description="Manage Measurements" Roles="*" UserControlAssembly="openPDC.UI.WPF.dll" UserControlPath="openPDC.UI.UserControls.PhasorMeasurementUserControl"/>
      <MenuDataItem Icon="" MenuText="_Alarms" Description="Manage Alarms" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.AlarmUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Companies" Description="Manage Companies" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.CompanyUserControl" />
      <MenuDataItem Icon="" MenuText="_Vendors" Description="Manage Vendors" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.VendorUserControl" />
      <MenuDataItem Icon="" MenuText="Vendor _Devices" Description="Manage Vendor Devices" Roles="*" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.VendorDeviceUserControl" />
      <MenuDataItem Icon="" MenuText="" Description="" Roles="*" UserControlAssembly="" UserControlPath="" />
      <MenuDataItem Icon="" MenuText="_Security" Description="Manager Security" Roles="Administrator" UserControlAssembly="TimeSeriesFramework.UI.WPF.dll" UserControlPath="TimeSeriesFramework.UI.UserControls.SecurityUserControl" />
    </SubMenuItems>
  </MenuDataItem>
</MenuDataItems>